* {
   text-align: center;
   font-family: Futura;
}

.hidden {
    visibility: hidden;
}

#player-selections {
    background-color: #ff3a2c;
    float:left;
    clear: left;
    left: 0px;
    width: 30%;
  }

  .top {
      width:100%
  }

input{
    width: 90%;
}  

#game-board {
    /* background-color: #1eb632; */
    position: absolute;
    right: 0px;
    width: 70%;
}

div#player1-card{
    display: inline-block;
    text-align: center;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    margin: 1rem 2rem;
    border: 3px solid #fffb2c;
    background-color: dodgerblue; 
}

div#player2-card{
    display: inline-block;
    text-align: center;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    margin: 1rem 2rem;
    border: 3px solid #fffb2c; 
    background-color: rgb(65, 194, 72);
}

img.money {
    display: inline-block;
    /* text-align: center; */
}

img.player-avatar {
    justify-self: center;
    height: 10rem;
    width: 15rem;
}