* {
   text-align: center;
   font-family: Futura;
}

.hidden {
    visibility: hidden;
}

#player-selections {
    background-color: #ff3a2c;
    position: absolute;
    left: 0px;
    width: 30%;
  }

input{
    width: 90%;
}  

#game-board {
    /* background-color: #1eb632; */
    position: absolute;
    right: 0px;
    width: 70%;
}

div.card {
    display: inline-block;
    text-align: center;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    margin: 1rem 2rem;
    border: 3px solid #ff3a2c;
    background-color: yellow;
}

img.player-avatar {
    justify-self: center;
    height: 12rem;
    width: 15rem;
}